<h2 mat-dialog-title>{{data.question}}</h2>
<div *ngIf="data.currentQuestionType == QuestionType.flag">
  <mat-dialog-content class="mat-typography">
    <img src={{data.flagImage}} width="500px">
  </mat-dialog-content>
</div>
<div [@.disabled]="disableAnimation">
  <mat-expansion-panel [expanded]="false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mutasd a választ
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>{{data.answer}}</p>
    </ng-template>
  </mat-expansion-panel>
</div>
<mat-dialog-actions align="end">
  <div *ngIf="data.currentQuestionType == QuestionType.basic">
    <button mat-button [mat-dialog-close]="'correct'">Jó válasz!</button>
  </div>
  <div *ngIf="data.currentQuestionType == QuestionType.flag">
    <button mat-button [mat-dialog-close]="'correct'">Eltalálta az elsőt!</button>
    <button mat-button [mat-dialog-close]="'correct'">Eltalálta a másodikat!</button>
    <button mat-button [mat-dialog-close]="'reroll'">Nem találta el az elsőt, újrasorolás!</button>
  </div>
  <div *ngIf="data.currentQuestionType == QuestionType.song">
    <button mat-button [mat-dialog-close]="'correct'">Eltalálta mindkettőt!</button>
    <button mat-button [mat-dialog-close]="'correct'">Eltalálta az egyiket!</button>
  </div>
  <button mat-button [mat-dialog-close]="'incorrect'">Nem jó válasz, pontlevonás!</button>
</mat-dialog-actions>
