<mat-grid-list cols="7" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>Nehézség: 1</mat-grid-tile>
  <mat-grid-tile>Nehézség: 2</mat-grid-tile>
  <mat-grid-tile>Nehézség: 3</mat-grid-tile>
  <mat-grid-tile>Nehézség: 4</mat-grid-tile>
  <mat-grid-tile>Nehézség: 5</mat-grid-tile>
  <mat-grid-tile>Nehézség: 6</mat-grid-tile>

  <mat-grid-tile>Kategória 1</mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(11)">?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(12)">?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(13)">?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(14)">?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(15)">?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button (click)="shoot(16)">?</button></mat-grid-tile>
</mat-grid-list>
