<mat-grid-list cols="7" rowHeight="2:1">
  <mat-grid-tile></mat-grid-tile>
  <mat-grid-tile>Nehézség: 1</mat-grid-tile>
  <mat-grid-tile>Nehézség: 2</mat-grid-tile>
  <mat-grid-tile>Nehézség: 3</mat-grid-tile>
  <mat-grid-tile>Nehézség: 4</mat-grid-tile>
  <mat-grid-tile>Nehézség: 5</mat-grid-tile>
  <mat-grid-tile>Nehézség: 6</mat-grid-tile>

  <mat-grid-tile>Celebek</mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>

  <mat-grid-tile>Más Tészta</mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
  <mat-grid-tile><button mat-button>?</button></mat-grid-tile>
</mat-grid-list>
