/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-grid-tile {
    background: lightblue;
}

.question-button {
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}

.add-player {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

input {
    height: 22px;
    margin-left: 10px;
    margin-right: 10px;
}

.player-container {
    width: 500px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.ingame-player-container {
    display: flex;
    justify-content: center;
    width: 100%;

    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;

    background: white;
    border-radius: 4px;
    overflow: hidden;
}

.player {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.player:last-child {
    border: none;
}

.player-container.cdk-drop-list-dragging .player:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.active-player {
    background-color: #c2b3dc;
}

#btn-next-player {
}

table {
    /* width: -webkit-fill-available; */
}

td {
    height: 80px;
}

.mat-header-cell {
    text-align: center !important;
}

mat-card {
    margin: 8px;
}

.mat-tooltip {
    font-size: 12px !important;
}
